**Data Extraction**

In [ ]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
     ------------------------------------ 181.2/181.2 kB 730.8 kB/s eta 0:00:00
Collecting bleach
  Downloading bleach-6.2.0-py3-none-any.whl (163 kB)
     ------------------------------------ 163.4/163.4 kB 981.8 kB/s eta 0:00:00
Collecting certifi>=14.05.14
  Downloading certifi-2025.6.15-py3-none-any.whl (157 kB)
     -------------------------------------- 157.7/157.7 kB 3.1 MB/s eta 0:00:00
Collecting charset-normalizer
  Downloading charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl (105 kB)
     -------------------------------------- 105.4/105.4 kB 3.1 MB/s eta 0:00:00
Collecting idna
  Downloading idna-3.10-py3-none-any.whl (70 kB)
     ---------------------------------------- 70.4/70.4 kB 1.9 MB/s eta 0:00:00
Collecting protobuf
  Downloading protobuf-6.31.1-cp310-abi3-win_amd64.whl (435 kB)
     -------------------------------------- 435.3/435.3 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.5.3 in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from kaggle) (2.9.0.post0)
Collecting python-slugify
  Using cached python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Collecting requests
  Downloading requests-2.32.4-py3-none-any.whl (64 kB)
     -------------------------------------- 64.8/64.8 kB 218.4 kB/s eta 0:00:00
Requirement already satisfied: setuptools>=21.0.0 in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from kaggle) (65.5.0)
Requirement already satisfied: six>=1.10 in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from kaggle) (1.17.0)
Collecting text-unidecode
  Using cached text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
     -------------------------------------- 78.5/78.5 kB 726.6 kB/s eta 0:00:00
Collecting urllib3>=1.15.1
  Downloading urllib3-2.5.0-py3-none-any.whl (129 kB)
     -------------------------------------- 129.8/129.8 kB 2.5 MB/s eta 0:00:00
Collecting webencodings
  Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: colorama in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Installing collected packages: webencodings, text-unidecode, urllib3, tqdm, python-slugify, protobuf, idna, charset-normalizer, certifi, bleach, requests, kaggle
Successfully installed bleach-6.2.0 certifi-2025.6.15 charset-normalizer-3.4.2 idna-3.10 kaggle-1.7.4.5 protobuf-6.31.1 python-slugify-8.0.4 requests-2.32.4 text-unidecode-1.3 tqdm-4.67.1 urllib3-2.5.0 webencodings-0.5.1

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import kaggle

In [7]:
!kaggle datasets download  najir0123/walmart-10k-sales-datasets -f Walmart.csv

Dataset URL: https://www.kaggle.com/datasets/najir0123/walmart-10k-sales-datasets
License(s): MIT
Downloading Walmart.csv to e:\Data_Analyst\Projects\Walmart analysis

  0%|          | 0.00/819k [00:00<?, ?B/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 819k/819k [00:00<?, ?B/s]

**Data Loading, Cleaning and Transformation**

***1.Loading***

In [9]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp311-cp311-win_amd64.whl (11.1 MB)
     ---------------------------------------- 11.1/11.1 MB 4.1 MB/s eta 0:00:00
Collecting numpy>=1.23.2
  Downloading numpy-2.3.1-cp311-cp311-win_amd64.whl (13.0 MB)
     ---------------------------------------- 13.0/13.0 MB 4.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     -------------------------------------- 509.2/509.2 kB 4.6 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     -------------------------------------- 347.8/347.8 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.1 pandas-2.3.0 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
import pandas as pd

In [11]:
#reading the csv file and assigning it to a dataframe
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')

#Showing how many rows and columns does the dataframe have
df.shape

(10051, 11)

In [12]:
df.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

***2.Cleaning***

In [38]:
#As we can see the column names of some column in capital we need it to become lower

df. columns = df.columns.str.lower()

#Checking
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

In [13]:
#Checking the data

df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [15]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

We found out that the quantity column and unit_price column both are missing 31 rows
And we got to know that the unit_price column's data type is text, we need to change that to float type

In [ ]:
#Dropping all the rows with missing records

df.dropna(inplace=True)

#Checking if all records dropped
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [ ]:
#Changing the datatype

df['unit_price']

0       $74.69
1       $15.28
2       $46.33
3       $58.22
4       $86.31
         ...
9995       $37
9996       $58
9997       $52
9998       $79
9999       $62
Name: unit_price, Length: 9969, dtype: object

In [ ]:
#as we see their is $ sign we need to remove it and then change the datatype

df['unit_price'] = df['unit_price'].str.replace("$", "").astype(float)

df.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [24]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [16]:
#Finding duplicates

df.duplicated().sum()

np.int64(51)

In [ ]:
#Removing Duplicates

df.drop_duplicates(inplace=True)

df.shape

(9969, 11)

***3.Transformation***

In [26]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [28]:
#Adding a column Total

df['total'] = df['unit_price'] * df['quantity']

df.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

**Loading The cleaned and Transformed Table into MySQL for analysis**

In [30]:
#Installing SQLalchemy for connecting and transferring data 
#Installing Pymysql to connect with MySQL database 
!pip install sqlalchemy pymysql

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp311-cp311-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 3.1 MB/s eta 0:00:00
Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Collecting greenlet>=1
  Downloading greenlet-3.2.3-cp311-cp311-win_amd64.whl (297 kB)
     -------------------------------------- 297.0/297.0 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in e:\data_analyst\projects\walmart analysis\my_env\lib\site-packages (from sqlalchemy) (4.14.0)
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.2.3 pymysql-1.1.1 sqlalchemy-2.0.41

[notice] A new release of pip available: 22.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
from sqlalchemy import create_engine
import pymysql

In [36]:
#Creating connection between mysql and the notebook
try:
    engine = create_engine("mysql+pymysql://root:root@localhost:3306/walmart")
    engine.connect()
    print("Connection Success")
except:
    print("Unable to Connect")

Connection Success

In [39]:
#Now Providing data to MySQL
df.to_sql(name="walmart_table", con=engine, if_exists='append', index=False)

9969

In [ ]:
#We can create a csv file with cleaned data like this
#if in case your connection is not working you can iport the file directly in mysql
df.to_csv("WalmartCleanedData.csv", index=False)

### Data Transfered to MySQL ðŸ˜Š
---